<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <h:head>
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="css/starter-template.css" rel="stylesheet"/>
        
        <link href="css/sticky-footer.css" rel="stylesheet"/>
    </h:head>
    <h:body>
        <div class="container">
            <div class="starter-template" style="padding-top: 50px">
                <ui:insert name="header">
                    <ui:include src="header.xhtml"/>
                </ui:insert>
                <ui:insert name="content">
                    <ui:include src="content.xhtml"/>
                </ui:insert>
            </div>
        </div>
        <ui:insert name="footer">
            <ui:include src="footer.xhtml"/>
        </ui:insert>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>
    </h:body>
</html>

