<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <h:body>
        <ui:composition>
            <hr></hr>
            <footer class="footer">
                <div class="container">
                    <span class="text-muted">Biblioteka v0.8</span>
                </div>
            </footer>
        </ui:composition>
    </h:body>
</html>

