<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:body>
        <ui:composition>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="">Biblioteka</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><h:link value="Ksiązki" outcome="listofbooks.xhtml"/></li>
                            <li><h:link value="Moje konto" outcome="account.xhtml" rendered="#{session.getAttribute('userRole') == 'admin' or session.getAttribute('userRole') == 'user'}"/></li>
                            <li><h:link value="Koszyk (Pozycje: #{rentControler.listOfRentedBooks.size()})" outcome="order.xhtml" rendered="#{session.getAttribute('userRole') == 'user'}"/></li>
                            <li><h:link value="Administracja" outcome="adminpage.xhtml" rendered="#{session.getAttribute('userRole') == 'admin'}"/></li>}
                        </ul>
                    </div>
                </div>
            </nav>
        </ui:composition>
    </h:body>
</html>

