<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="templates/commonlayout.xhtml">
            <ui:define name="content">
                <h2>Moje konto</h2>
                <h4>Login: #{loginController.user.userLogin}</h4>
                <h4>Imię: #{loginController.user.firstName}</h4>
                <h4>Nazwisko: #{loginController.user.lastName}</h4>
                <h4>Adres: #{loginController.user.street}</h4>
                <h4>Miasto: #{loginController.user.city}</h4>
                <h4>Hasło: #{loginController.user.userPassword}</h4>
                <h4>Rola: #{loginController.user.user_role}</h4>
                <h:form><h:commandButton value="Wyloguj" action="#{loginController.logout()}"/></h:form>
                
                <h:dataTable value="#{rentControler.getPreviouslyRentedBooks(loginController.user)}" var="book">
                    <h:column>
                        <f:facet name="header">Nazwa</f:facet>
                        #{book.id}
                    </h:column>
                </h:dataTable>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

