<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/commonlayout.xhtml">
            <ui:define name="content">
                <h2>Dodaj książkę</h2>
                <h:form>
                    <div class="row">
                        <div class="col-md-3">Nazwa książki</div>
                        <div class="col-md-3"><h:inputText value="#{bookAddController.name}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Autorzy</div>
                        <div class="col-md-3"><h:inputText value="#{bookAddController.authors}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">ISBN</div>
                        <div class="col-md-3"><h:inputText value="#{bookAddController.isbn}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Data publikacji</div>
                        <div class="col-md-3"><h:inputText value="#{bookAddController.year}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><h:commandButton value="Dodaj książkę" action="#{bookAddController.addBook()}"/></div>
                    </div>
                </h:form>                
            </ui:define>
        </ui:composition>
    </h:body>
</html>

