<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/commonlayout.xhtml">
            <ui:define name="content">
                <h2>Dodaj użytkownika</h2>
                <h:form>
                    <div class="row">
                        <div class="col-md-3">Imię</div>
                        <div class="col-md-3"><h:inputText value="#{userControler.firstName}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Nazwisko</div>
                        <div class="col-md-3"><h:inputText value="#{userControler.lastName}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Adres</div>
                        <div class="col-md-3"><h:inputText value="#{userControler.street}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Miasto</div>
                        <div class="col-md-3"><h:inputText value="#{userControler.city}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><h:commandButton value="Dodaj użytkownika" action="#{userControler.addUser()}"/></div>
                    </div>
                </h:form>                
            </ui:define>
        </ui:composition>
    </h:body>
</html>

