<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="templates/commonlayout.xhtml">
            <ui:define name="content">
                <h2>Administracja</h2>
                <h:panelGroup rendered="#{session.getAttribute('userRole') == 'admin'}">
                    <p><h:link value="Dodaj książkę" outcome="addbook.xhtml"/></p>
                    <p><h:link value="Dodaj użytkownika" outcome="adduser.xhtml"/></p>
                    <p><h:link value="Użytkownicy" outcome="listofusers.xhtml"/></p>
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

