<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/commonlayout.xhtml">
            <ui:define name ="content">
                <h2>Zaloguj się</h2>
                <h:form rendered="#{not loginController.userLogged}">
                    Login <h:inputText value="#{loginController.userLogin}"/>
                    Hasło <h:inputSecret value="#{loginController.password}"/>
                    <h:commandButton value="Zaloguj" action="#{loginController.login()}"/>
                </h:form>
                <h:form rendered="#{loginController.userLogged}">
                    <p><h:outputText value="#{session.id}"/></p>
                    <p><h:outputText value="Witaj #{loginController.user.userLogin}"/></p>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

