<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/commonlayout.xhtml">
            <ui:define name="content">
                <h2>Lista książek</h2>
                <h:dataTable value="#{bookTableController.booksDTO}" var="book" class="table table-striped table-bordered table-hover table-condensed">
                    <h:column>
                        <f:facet name="header">Tytuł</f:facet>
                            #{book.name}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Autor</f:facet>
                            #{bookTableController.getAuthors(book)}
                    </h:column>
                    <h:column>
                        <f:facet name="header">ISBN</f:facet>
                            #{book.isbn}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Rok wydania</f:facet>
                            #{book.year}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Wypożycz</f:facet>
                        <h:form>
                            <h:commandButton value="Wypożycz" action="#{rentControler.rentBook(book)}"/>
                        </h:form>
                    </h:column>
                </h:dataTable>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

