<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/commonlayout.xhtml">
            <ui:define name="content">
                <h2>Lista użytkowników</h2>
                <h:dataTable value="#{userControler.users}" var="user" class="table table-striped table-bordered table-hover table-condensed">
                    <h:column>
                        <f:facet name="header">Imię</f:facet>
                        #{user.firstName}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Nazwisko</f:facet>
                        #{user.lastName}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Adres</f:facet>
                        #{user.street}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Miasto</f:facet>
                        #{user.city}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Edit</f:facet>
                    </h:column>
                </h:dataTable>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

