<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="templates/commonlayout.xhtml">
            <ui:define name="content">
                <h2>Twój koszyk</h2>
                <h:dataTable value="#{rentControler.listOfRentedBooks}" var="book" class="table table-striped table-bordered table-hover table-condensed">
                    <h:column>
                        <f:facet name="header">Tytuł</f:facet>
                            #{book.name}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Kwota</f:facet>
                        10 zł
                    </h:column>
                    <h:column>
                        <f:facet name="header">Anuluj</f:facet>
                        <h:form>
                            <h:commandButton value="Anuluj" action="#{rentControler.cancel(book)}"/>
                        </h:form>
                    </h:column>
                </h:dataTable>
                <h:form>
                    <h:commandButton value="Potwierdzam wypożyczenie" action="#{rentControler.confirmRent()}"/>
                    Razem: #{rentControler.calculatePayment()} zł
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

